Hipotesis: "Los ataques de tiburón mortales disminuyen mientras la película de "Tiburón" está en cartelera"

In [446]:
import pandas as pd

import re as regex

from functions import *

In [447]:
df = pd.read_csv("Inputs/Dataset_Shark_Attacks.csv", encoding = "ISO-8859-1")

# pd.set_option('display.max_rows', 6000)
# pd.set_option('display.max_columns', 500)

# display(df)

In [448]:
#Observamos la envergadura y principales detalles del Dataset

#display(f"La dimensión del dataset son {df.shape[0]} filas y {df.shape[1]} columnas, mientras que sus columnas son: {list(df.columns)}")

# df.head(5)

# df.tail(5)

# df.shape

# df.columns

In [449]:
renaming = {df.columns[9]: 'Género'}

df2 = df.rename(columns=renaming)

df3 = df2.rename(columns={'Case Number':'Caso','Date':'Fecha','Year':'Años','Type':'Ataque', 'Country':'País', 'Area':'Área', 'Location':'Localización','Activity':'Actividad', 'Age':'Edad', 'Injury':'Herida', 'Fatal (Y/N)':'Mortalidad'})

In [450]:
df4 = df3[['Caso','Fecha','Años','Ataque','País','Área','Localización','Actividad','Género','Edad','Herida','Mortalidad']]

In [451]:

df4.Caso = df4["Caso"].astype(str).apply(case_filtering).dropna()

/usr/lib/python3/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [452]:
df4 = df4[["Años","Caso","Género", "Mortalidad"]]

df4.sort_values("Años",ascending=False).dropna().set_index("Años")

            Caso Género Mortalidad
Años
2016  18-09-2016      M          N
2016  05-06-2016      F          Y
2016  31-03-2016      F          N
2016  07-04-2016      M          N
2016  07-04-2016      M          N
2016  08-04-2016      M          N
2016  09-04-2016      F          Y
2016  13-04-2016      M          N
2016  18-04-2016      M          N
2016  19-04-2016      M          N
2016  22-04-2016      M          N
2016  23-04-2016      M          N
2016  25-04-2016      M          N
2016  02-05-2016      M          N
2016  03-05-2016      M          N
2016  15-05-2016      F          N
2016  18-05-2016      M          N
2016  21-05-2016      F          N
2016  21-05-2016      F          N
2016  22-05-2016      F          N
2016  29-05-2016      M          N
2016  29-05-2016      F          N
2016  31-05-2016      M          Y
2016  02-06-2016      M          N
2016  30-03-2016      M          N
2016  28-03-2016      M          N
2016  28-03-2016      M          N
2016  05-02-2016      F          N
2016  02-01-2016      M          N
2016  05-01-2016      M          N
...          ...    ...        ...
1800  00-00-1800      F          Y
1791  00-00-1791      F          Y
1787  05-07-1787      M          Y
1785  26-09-1785      M          Y
1779  00-00-1779      M          Y
1776  00-00-1776      M          Y
1771  12-07-1771      M          Y
1767  00-00-1767      M          N
1764  00-00-1764      M          Y
1758  00-00-1758      M          N
1755  00-00-1755      M    UNKNOWN
1749  00-00-1749      M          N
1748  00-00-1748      M          Y
1742  17-12-1742      M          Y
1738  06-04-1738      M          Y
1721  00-06-1721      M          Y
1703  26-03-1703      M          N
1700  00-00-1700      M          Y
1700  00-00-1700      M          N
1700  00-00-1700      M          Y
1642  00-00-1642      M          Y
1642  00-00-1642      M          Y
1638  00-00-1638      M    UNKNOWN
1595  00-00-1595      M    UNKNOWN
1580  10-01-1580      M          Y
1555  00-00-1555      M    UNKNOWN
1554  00-00-1554      M    UNKNOWN
1543  00-00-1543      M          Y
77    00-00-0077      M          Y
5     00-00-0005      M          N

[5298 rows x 3 columns]

In [453]:
df4.Supervivencia = df4["Mortalidad"].astype(str)

df4.Supervivencia.dtypes

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

dtype('O')

In [454]:


df4.Mortalidad = df4["Mortalidad"].astype(str).apply(m_correction)

df4.loc[df4['Mortalidad'] == "0"]

      Años        Caso Género Mortalidad
0     2016  18-09-2016      M          0
1     2016  18-09-2016      M          0
2     2016  18-09-2016      M          0
3     2016  17-09-2016      M          0
4     2016  15-09-2016      M          0
5     2016  15-09-2016    NaN          0
6     2016  11-09-2016      M          0
7     2016  07-09-2016      F          0
9     2016  05-09-2016      F          0
10    2016  05-09-2016      M          0
11    2016  04-09-2016      M          0
12    2016  01-09-2016      M          0
13    2016  29-08-2016      M          0
14    2016  29-08-2016      M          0
15    2016  27-08-2016      M          0
16    2016  25-08-2016      M          0
17    2016  07-08-2016      M          0
18    2016  06-08-2016      M          0
19    2016  04-08-2016      M          0
20    2016  29-07-2016      M          0
21    2016  28-07-2016      M          0
22    2016  28-07-2016      M          0
23    2016  27-07-2016      M          0
24    2016  26-07-2016      M          0
25    2016  24-07-2016      M          0
26    2016  23-07-2016      M          0
27    2016  23-07-2016      M          0
28    2016  20-07-2016      M          0
29    2016  17-07-2016    NaN          0
30    2016  16-07-2016      F          0
...    ...         ...    ...        ...
5928     0         NaN      M          0
5929     0         NaN      M          0
5931     0         NaN      M          0
5932     0         NaN      M          0
5933     0         NaN      M          0
5934     0         NaN      M          0
5935     0         NaN      F          0
5936     0         NaN      M          0
5937     0         NaN      F          0
5939     0         NaN      M          0
5940     0         NaN      M          0
5945     0         NaN      M          0
5946     0         NaN      M          0
5947     0         NaN      M          0
5950     0         NaN      M          0
5951     0         NaN      M          0
5957     0         NaN      M          0
5958     0         NaN      M          0
5960     0         NaN      M          0
5961     0         NaN      M          0
5962     0         NaN      M          0
5964     0         NaN      M          0
5965     0         NaN      M          0
5969     0         NaN      F          0
5970     0         NaN      M          0
5973     0         NaN      M          0
5974     0         NaN      M          0
5978     0         NaN      M          0
5981     0         NaN      M          0
5982     0         NaN      F          0

[4315 rows x 4 columns]

In [455]:
df4 = df4.iloc[0:5325].dropna()

df4

      Años        Caso Género Mortalidad
0     2016  18-09-2016      M          0
1     2016  18-09-2016      M          0
2     2016  18-09-2016      M          0
3     2016  17-09-2016      M          0
4     2016  15-09-2016      M          0
6     2016  11-09-2016      M          0
7     2016  07-09-2016      F          0
8     2016  06-09-2016      M          1
9     2016  05-09-2016      F          0
10    2016  05-09-2016      M          0
11    2016  04-09-2016      M          0
12    2016  01-09-2016      M          0
13    2016  29-08-2016      M          0
14    2016  29-08-2016      M          0
15    2016  27-08-2016      M          0
16    2016  25-08-2016      M          0
17    2016  07-08-2016      M          0
18    2016  06-08-2016      M          0
19    2016  04-08-2016      M          0
20    2016  29-07-2016      M          0
21    2016  28-07-2016      M          0
22    2016  28-07-2016      M          0
23    2016  27-07-2016      M          0
24    2016  26-07-2016      M          0
25    2016  24-07-2016      M          0
26    2016  23-07-2016      M          0
27    2016  23-07-2016      M          0
28    2016  20-07-2016      M          0
30    2016  16-07-2016      F          0
31    2016  16-07-2016      F          0
...    ...         ...    ...        ...
5291  1902  28-08-1902      M          1
5292  1902  24-08-1902      M          0
5293  1902  08-08-1902      M          1
5294  1902  15-07-1902      M          0
5295  1902  06-07-1902      M          0
5296  1902  02-06-1902      M          0
5297  1902  00-06-1902      M          0
5298  1902  00-04-1902      M          1
5299  1902  22-02-1902      M          0
5300  1902  25-01-1902      M          1
5301  1902  19-01-1902      M          1
5302  1902  19-01-1902      M          0
5303  1901  01-12-1901      M          0
5304  1901  00-10-1901      M          0
5305  1901  23-09-1901      M          1
5306  1901  30-07-1901      M          1
5309  1901  24-06-1901      M          0
5310  1901  30-01-1901      M          1
5311  1901  00-00-1901      M          0
5312  1900  27-12-1900      M          1
5313  1900  14-11-1900      M          1
5314  1900  27-10-1900      M          1
5315  1900  15-09-1900      M          0
5317  1900  05-09-1900      M          0
5318  1900  21-08-1900      M          0
5319  1900  31-07-1900      M          1
5320  1900  14-07-1900      M          1
5322  1900  28-01-1900      M          0
5323  1900  00-00-1900      M          0
5324  1900  00-00-1900      M          0

[4764 rows x 4 columns]

In [456]:
df4["Mortalidad"] = df4["Mortalidad"].astype("int64")

df4["Género"] = df4["Género"].astype(str)

In [457]:
df4['Hombres'] = df4.Género.apply(lambda x: x=="M")

df4['Mujeres'] = df4.Género.apply(lambda x: x=="F")

df4 = df4[["Años","Caso","Hombres","Mujeres","Mortalidad"]]

def genero_fixing(x):

    if x == True:
        return 1

    else:
        return 0


df4['Mujeres'] = df4.Mujeres.apply(genero_fixing)

df4['Hombres'] = df4.Hombres.apply(genero_fixing)

df4

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Años        Caso  Hombres  Mujeres  Mortalidad
0     2016  18-09-2016        1        0           0
1     2016  18-09-2016        1        0           0
2     2016  18-09-2016        1        0           0
3     2016  17-09-2016        1        0           0
4     2016  15-09-2016        1        0           0
6     2016  11-09-2016        1        0           0
7     2016  07-09-2016        0        1           0
8     2016  06-09-2016        1        0           1
9     2016  05-09-2016        0        1           0
10    2016  05-09-2016        1        0           0
11    2016  04-09-2016        1        0           0
12    2016  01-09-2016        1        0           0
13    2016  29-08-2016        1        0           0
14    2016  29-08-2016        1        0           0
15    2016  27-08-2016        1        0           0
16    2016  25-08-2016        1        0           0
17    2016  07-08-2016        1        0           0
18    2016  06-08-2016        1        0           0
19    2016  04-08-2016        1        0           0
20    2016  29-07-2016        1        0           0
21    2016  28-07-2016        1        0           0
22    2016  28-07-2016        1        0           0
23    2016  27-07-2016        1        0           0
24    2016  26-07-2016        1        0           0
25    2016  24-07-2016        1        0           0
26    2016  23-07-2016        1        0           0
27    2016  23-07-2016        1        0           0
28    2016  20-07-2016        1        0           0
30    2016  16-07-2016        0        1           0
31    2016  16-07-2016        0        1           0
...    ...         ...      ...      ...         ...
5291  1902  28-08-1902        1        0           1
5292  1902  24-08-1902        1        0           0
5293  1902  08-08-1902        1        0           1
5294  1902  15-07-1902        1        0           0
5295  1902  06-07-1902        1        0           0
5296  1902  02-06-1902        1        0           0
5297  1902  00-06-1902        1        0           0
5298  1902  00-04-1902        1        0           1
5299  1902  22-02-1902        1        0           0
5300  1902  25-01-1902        1        0           1
5301  1902  19-01-1902        1        0           1
5302  1902  19-01-1902        1        0           0
5303  1901  01-12-1901        1        0           0
5304  1901  00-10-1901        1        0           0
5305  1901  23-09-1901        1        0           1
5306  1901  30-07-1901        1        0           1
5309  1901  24-06-1901        1        0           0
5310  1901  30-01-1901        1        0           1
5311  1901  00-00-1901        1        0           0
5312  1900  27-12-1900        1        0           1
5313  1900  14-11-1900        1        0           1
5314  1900  27-10-1900        1        0           1
5315  1900  15-09-1900        1        0           0
5317  1900  05-09-1900        1        0           0
5318  1900  21-08-1900        1        0           0
5319  1900  31-07-1900        1        0           1
5320  1900  14-07-1900        1        0           1
5322  1900  28-01-1900        1        0           0
5323  1900  00-00-1900        1        0           0
5324  1900  00-00-1900        1        0           0

[4764 rows x 5 columns]

In [458]:
df4 = df4.groupby(["Años"]).agg({'Caso':'count', 'Hombres': 'sum', 'Mujeres': 'sum', 'Mortalidad':'sum'}).dropna().reset_index()

df4

     Años  Caso  Hombres  Mujeres  Mortalidad
0    1848     1        1        0           1
1    1900    11       11        0           5
2    1901     7        7        0           3
3    1902    15       15        0           7
4    1903    10       10        0           8
5    1904    13       13        0           9
6    1905    14       14        0           9
7    1906    21       21        0          14
8    1907    23       20        3          13
9    1908    11        9        1          10
10   1909    15       12        3           9
11   1910    12       12        0           5
12   1911    15       15        0           9
13   1912    12       12        0           6
14   1913    12       12        0           4
15   1914    16       12        4           6
16   1915    11       11        0           5
17   1916    25       23        2          12
18   1917    11       11        0           5
19   1918     5        5        0           3
20   1919    13       11        2           5
21   1920    13       11        2           4
22   1921     9        9        0           4
23   1922    20       17        3          14
24   1923    18       18        0           9
25   1924    17       15        2           5
26   1925    12       11        1           3
27   1926    19       16        3           9
28   1927    15       15        0           4
29   1928    23       21        2           7
..    ...   ...      ...      ...         ...
88   1987    30       26        4           6
89   1988    51       44        7           9
90   1989    49       44        5          11
91   1990    36       32        4           4
92   1991    36       31        5           7
93   1992    50       45        5          12
94   1993    45       36        9          14
95   1994    48       40        8           9
96   1995    70       60       10          12
97   1996    51       42        9           9
98   1997    51       44        7          10
99   1998    61       56        5           9
100  1999    61       51       10           5
101  2000    85       73       12          16
102  2001    84       71       13           8
103  2002    82       73        9          10
104  2003    87       75       12           9
105  2004    84       69       14          13
106  2005    93       78       14           9
107  2006    98       81       17          14
108  2007   107       78       29           8
109  2008   114      101       13          13
110  2009   115       98       17          16
111  2010   101       79       22          11
112  2011   123      109       14          16
113  2012   110       91       19          11
114  2013   120      102       18          16
115  2014   116       92       23          10
116  2015   137      110       27          10
117  2016    99       81       18           5

[118 rows x 5 columns]

In [459]:
df5 = df4

df5.reset_index()

df5

     Años  Caso  Hombres  Mujeres  Mortalidad
0    1848     1        1        0           1
1    1900    11       11        0           5
2    1901     7        7        0           3
3    1902    15       15        0           7
4    1903    10       10        0           8
5    1904    13       13        0           9
6    1905    14       14        0           9
7    1906    21       21        0          14
8    1907    23       20        3          13
9    1908    11        9        1          10
10   1909    15       12        3           9
11   1910    12       12        0           5
12   1911    15       15        0           9
13   1912    12       12        0           6
14   1913    12       12        0           4
15   1914    16       12        4           6
16   1915    11       11        0           5
17   1916    25       23        2          12
18   1917    11       11        0           5
19   1918     5        5        0           3
20   1919    13       11        2           5
21   1920    13       11        2           4
22   1921     9        9        0           4
23   1922    20       17        3          14
24   1923    18       18        0           9
25   1924    17       15        2           5
26   1925    12       11        1           3
27   1926    19       16        3           9
28   1927    15       15        0           4
29   1928    23       21        2           7
..    ...   ...      ...      ...         ...
88   1987    30       26        4           6
89   1988    51       44        7           9
90   1989    49       44        5          11
91   1990    36       32        4           4
92   1991    36       31        5           7
93   1992    50       45        5          12
94   1993    45       36        9          14
95   1994    48       40        8           9
96   1995    70       60       10          12
97   1996    51       42        9           9
98   1997    51       44        7          10
99   1998    61       56        5           9
100  1999    61       51       10           5
101  2000    85       73       12          16
102  2001    84       71       13           8
103  2002    82       73        9          10
104  2003    87       75       12           9
105  2004    84       69       14          13
106  2005    93       78       14           9
107  2006    98       81       17          14
108  2007   107       78       29           8
109  2008   114      101       13          13
110  2009   115       98       17          16
111  2010   101       79       22          11
112  2011   123      109       14          16
113  2012   110       91       19          11
114  2013   120      102       18          16
115  2014   116       92       23          10
116  2015   137      110       27          10
117  2016    99       81       18           5

[118 rows x 5 columns]

In [460]:
fd = pd.read_csv("Inputs/Dataset_Movies.csv", encoding = "ISO-8859-1")

/home/alex/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [461]:
fd.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [462]:
fd2 = fd.rename(columns = {"release_date":"Lanzamiento","original_title":"Título"})

fd3 = fd2[["Lanzamiento","Título"]]

In [463]:
fd3.Lanzamiento = fd3["Lanzamiento"].astype(str).apply(case_filtering)

In [464]:
# fd4[fd4['Título'].astype(str).str.contains("shark")]

fd3.Título = fd3["Título"].astype(str).apply(find_word)

fd4 = fd3.dropna(axis=0, subset=['Lanzamiento', 'Título'])

fd4["Años"] =  fd4["Lanzamiento"].astype(str).apply(extract_year)

fd4["Años"] = fd4["Años"].astype(int)

fd4

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

      Lanzamiento                                   Título  Años
318    10-09-1994                     swimming with sharks  1994
1338   18-06-1975                                     jaws  1975
1339   16-06-1978                                   jaws 2  1978
1340   16-03-1983                                 jaws 3-d  1983
3998   17-07-1987                        jaws: the revenge  1987
5716   18-12-1981                         sharky's machine  1981
8180   20-09-2004                               shark tale  2004
10105  10-06-2005  the adventures of sharkboy and lavagirl  2005
11787  11-09-2006                               sharkwater  2006
11839  15-07-2007                           eagle vs shark  2007
12387  28-02-1936             the prisoner of shark island  1936
14718  19-05-2009              mega shark vs giant octopus  2009
15369  06-10-2008                          shark in venice  2008
17748  02-09-2011                              shark night  2011
18241  25-09-2010                               sharktopus  2010
18526  25-06-2011                              swamp shark  2011
18528  01-08-1958                   she gods of shark reef  1958
18641  21-12-2010               mega shark vs. crocosaurus  2010
19490  17-01-2012                    2-headed shark attack  2012
20068  20-03-2005                spring break shark attack  2005
21238  11-07-2013                                sharknado  2013
22470  20-12-2011                              sand sharks  2011
23206  01-01-2010                                dinoshark  2010
23838  02-08-2014                  sharktopus vs pteracuda  2014
23852  08-10-1969                                   shark!  1969
24138  30-07-2014              sharknado 2: the second one  2014
26002  26-11-2002                shark attack 3: megalodon  2002
26121  09-11-1999                             shark attack  1999
26281  13-02-2001                           shark attack 2  2001
28806  20-05-1976                               shark kill  1976
28841  01-07-1976                  mako: the jaws of death  1976
29456  09-06-2012                jersey shore shark attack  2012
30837  22-07-2015                 sharknado 3: oh hell no!  2015
31623  04-08-2012                               shark week  2012
31992  19-07-2015                 sharktopus vs. whalewolf  2015
33909  19-03-1950                             killer shark  1950
33988  22-08-2013                              ghost shark  2013
34189  05-05-1995                               cruel jaws  1995
35056  28-01-2014               mega shark vs. mecha shark  2014
35515  20-07-2015                    3-headed shark attack  2015
35605  08-12-2011                              super shark  2011
35704  02-10-2015                               shark lake  2015
36354  01-01-2008                              shark swarm  2008
36355  06-08-2015                           piranha sharks  2015
36412  24-07-1981                            jaws of satan  1981
37053  23-07-2015                                roboshark  2015
37928  12-10-2011           snow shark: ancient snow beast  2011
38010  01-01-2001                                 sharkman  2001
38988  04-11-2015       sharkansas women's prison massacre  2015
39607  01-01-1989                      night of the sharks  1989
39771  31-07-2016             sharknado 4: the 4th awakens  2016
42678  25-07-2009                      malibu shark attack  2009
43722  23-03-2015                             shark killer  2015
44261  07-09-1984                 shark: rosso nell'oceano  1984
44467  14-10-2003                               shark zone  2003
44569  24-09-1932                              tiger shark  1932

In [465]:
fd4 = fd4[["Años", "Lanzamiento", "Título"]]

fd4.sort_values("Años", ascending=False).dropna().reset_index()

# .set_index("Años")

    index  Años Lanzamiento                                   Título
0   39771  2016  31-07-2016             sharknado 4: the 4th awakens
1   35515  2015  20-07-2015                    3-headed shark attack
2   43722  2015  23-03-2015                             shark killer
3   35704  2015  02-10-2015                               shark lake
4   31992  2015  19-07-2015                 sharktopus vs. whalewolf
5   30837  2015  22-07-2015                 sharknado 3: oh hell no!
6   36355  2015  06-08-2015                           piranha sharks
7   38988  2015  04-11-2015       sharkansas women's prison massacre
8   37053  2015  23-07-2015                                roboshark
9   23838  2014  02-08-2014                  sharktopus vs pteracuda
10  35056  2014  28-01-2014               mega shark vs. mecha shark
11  24138  2014  30-07-2014              sharknado 2: the second one
12  33988  2013  22-08-2013                              ghost shark
13  21238  2013  11-07-2013                                sharknado
14  31623  2012  04-08-2012                               shark week
15  19490  2012  17-01-2012                    2-headed shark attack
16  29456  2012  09-06-2012                jersey shore shark attack
17  35605  2011  08-12-2011                              super shark
18  22470  2011  20-12-2011                              sand sharks
19  17748  2011  02-09-2011                              shark night
20  37928  2011  12-10-2011           snow shark: ancient snow beast
21  18526  2011  25-06-2011                              swamp shark
22  18241  2010  25-09-2010                               sharktopus
23  18641  2010  21-12-2010               mega shark vs. crocosaurus
24  23206  2010  01-01-2010                                dinoshark
25  14718  2009  19-05-2009              mega shark vs giant octopus
26  42678  2009  25-07-2009                      malibu shark attack
27  36354  2008  01-01-2008                              shark swarm
28  15369  2008  06-10-2008                          shark in venice
29  11839  2007  15-07-2007                           eagle vs shark
30  11787  2006  11-09-2006                               sharkwater
31  20068  2005  20-03-2005                spring break shark attack
32  10105  2005  10-06-2005  the adventures of sharkboy and lavagirl
33   8180  2004  20-09-2004                               shark tale
34  44467  2003  14-10-2003                               shark zone
35  26002  2002  26-11-2002                shark attack 3: megalodon
36  26281  2001  13-02-2001                           shark attack 2
37  38010  2001  01-01-2001                                 sharkman
38  26121  1999  09-11-1999                             shark attack
39  34189  1995  05-05-1995                               cruel jaws
40    318  1994  10-09-1994                     swimming with sharks
41  39607  1989  01-01-1989                      night of the sharks
42   3998  1987  17-07-1987                        jaws: the revenge
43  44261  1984  07-09-1984                 shark: rosso nell'oceano
44   1340  1983  16-03-1983                                 jaws 3-d
45  36412  1981  24-07-1981                            jaws of satan
46   5716  1981  18-12-1981                         sharky's machine
47   1339  1978  16-06-1978                                   jaws 2
48  28841  1976  01-07-1976                  mako: the jaws of death
49  28806  1976  20-05-1976                               shark kill
50   1338  1975  18-06-1975                                     jaws
51  23852  1969  08-10-1969                                   shark!
52  18528  1958  01-08-1958                   she gods of shark reef
53  33909  1950  19-03-1950                             killer shark
54  12387  1936  28-02-1936             the prisoner of shark island
55  44569  1932  24-09-1932                              tiger shark

In [466]:
fd6 = fd4.groupby(["Años"]).count().dropna().reset_index()

fd6

    Años  Lanzamiento  Título
0   1932            1       1
1   1936            1       1
2   1950            1       1
3   1958            1       1
4   1969            1       1
5   1975            1       1
6   1976            2       2
7   1978            1       1
8   1981            2       2
9   1983            1       1
10  1984            1       1
11  1987            1       1
12  1989            1       1
13  1994            1       1
14  1995            1       1
15  1999            1       1
16  2001            2       2
17  2002            1       1
18  2003            1       1
19  2004            1       1
20  2005            2       2
21  2006            1       1
22  2007            1       1
23  2008            2       2
24  2009            2       2
25  2010            3       3
26  2011            5       5
27  2012            3       3
28  2013            2       2
29  2014            3       3
30  2015            8       8
31  2016            1       1

In [467]:
asd = df5[["Años", "Caso","Mujeres"]]

asd.head(2)

   Años  Caso  Mujeres
0  1848     1        0
1  1900    11        0

In [468]:
qwerty = fd6[["Años","Lanzamiento","Título"]]

qwerty.head(2)

   Años  Lanzamiento  Título
0  1932            1       1
1  1936            1       1

In [473]:
dtest = pd.merge(asd, qwerty, on="Años")

dtest

    Años  Caso  Mujeres  Lanzamiento  Título
0   1932    25        2            1       1
1   1936    23        1            1       1
2   1950    39        0            1       1
3   1958    47        4            1       1
4   1969    24        0            1       1
5   1975    44        5            1       1
6   1976    27        2            2       2
7   1978    22        2            1       1
8   1981    42        3            2       2
9   1983    46        5            1       1
10  1984    37        7            1       1
11  1987    30        4            1       1
12  1989    49        5            1       1
13  1994    48        8            1       1
14  1995    70       10            1       1
15  1999    61       10            1       1
16  2001    84       13            2       2
17  2002    82        9            1       1
18  2003    87       12            1       1
19  2004    84       14            1       1
20  2005    93       14            2       2
21  2006    98       17            1       1
22  2007   107       29            1       1
23  2008   114       13            2       2
24  2009   115       17            2       2
25  2010   101       22            3       3
26  2011   123       14            5       5
27  2012   110       19            3       3
28  2013   120       18            2       2
29  2014   116       23            3       3
30  2015   137       27            8       8
31  2016    99       18            1       1

In [474]:
dfinal = pd.merge(df5, fd6, on="Años")

dfinal

    Años  Caso  Hombres  Mujeres  Mortalidad  Lanzamiento  Título
0   1932    25       23        2           8            1       1
1   1936    23       22        1           8            1       1
2   1950    39       39        0          12            1       1
3   1958    47       43        4          19            1       1
4   1969    24       24        0           0            1       1
5   1975    44       39        5           7            1       1
6   1976    27       25        2           6            2       2
7   1978    22       20        2           4            1       1
8   1981    42       39        3           8            2       2
9   1983    46       41        5           7            1       1
10  1984    37       30        7           9            1       1
11  1987    30       26        4           6            1       1
12  1989    49       44        5          11            1       1
13  1994    48       40        8           9            1       1
14  1995    70       60       10          12            1       1
15  1999    61       51       10           5            1       1
16  2001    84       71       13           8            2       2
17  2002    82       73        9          10            1       1
18  2003    87       75       12           9            1       1
19  2004    84       69       14          13            1       1
20  2005    93       78       14           9            2       2
21  2006    98       81       17          14            1       1
22  2007   107       78       29           8            1       1
23  2008   114      101       13          13            2       2
24  2009   115       98       17          16            2       2
25  2010   101       79       22          11            3       3
26  2011   123      109       14          16            5       5
27  2012   110       91       19          11            3       3
28  2013   120      102       18          16            2       2
29  2014   116       92       23          10            3       3
30  2015   137      110       27          10            8       8
31  2016    99       81       18           5            1       1