## Hipotesis: "Los ataques de tiburón mortales disminuyen mientras la película de "Tiburón" está en cartelera"

In [196]:
import pandas as pd

import re as regex

from functions import *

In [197]:
df = pd.read_csv("Inputs/Dataset_Shark_Attacks.csv", encoding = "ISO-8859-1")

# pd.set_option('display.max_rows', 6000)
# pd.set_option('display.max_columns', 500)

# display(df)

In [198]:
#Observamos la envergadura y principales detalles del Dataset

#display(f"La dimensión del dataset son {df.shape[0]} filas y {df.shape[1]} columnas, mientras que sus columnas son: {list(df.columns)}")

# df.head(5)

# df.tail(5)

# df.shape

# df.columns

In [199]:
renaming = {df.columns[9]: 'Género'}

df2 = df.rename(columns=renaming)

df3 = df2.rename(columns={'Case Number':'Casos','Date':'Fecha','Year':'Años','Type':'Ataque', 'Country':'País', 'Area':'Área', 'Location':'Localización','Activity':'Actividad', 'Age':'Edad', 'Injury':'Herida', 'Fatal (Y/N)':'Mortalidad'})

In [200]:
df4 = df3[['Casos','Fecha','Años','Ataque','País','Área','Localización','Actividad','Género','Edad','Herida','Mortalidad']]

In [201]:

df4.Caso = df4["Casos"].astype(str).apply(case_filtering).dropna()

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [202]:
df4 = df4[["Años","Casos","Género", "Mortalidad"]]

df4.sort_values("Años",ascending=False).dropna().set_index("Años")

             Casos Género Mortalidad
Años
2016  2016.09.18.c      M          N
2016  2016.06.05.a      F          Y
2016    2016.03.31      F          N
2016  2016.04.07.a      M          N
2016  2016.04.07.b      M          N
2016    2016.04.08      M          N
2016    2016.04.09      F          Y
2016    2016.04.13      M          N
2016    2016.04.18      M          N
2016    2016.04.19      M          N
2016    2016.04.22      M          N
2016    2016.04.23      M          N
2016    2016.04.25      M          N
2016    2016.05.02      M          N
2016    2016.05.03      M          N
2016    2016.05.15      F          N
2016    2016.05.18      M          N
2016  2016.05.21.a      F          N
2016  2016.05.21.b      F          N
2016    2016.05.22      F          N
2016  2016.05.29.a      M          N
2016  2016.05.29.b      F          N
2016    2016.05.31      M          Y
2016  2016.06.02.a      M          N
2016    2016.03.30      M          N
2016  2016.03.28.b      M          N
2016  2016.03.28.a      M          N
2016    2016.02.05      F          N
2016    2016.01.02      M          N
2016    2016.01.05      M          N
2016  2016.01.11.R      M          N
2016    2016.01.23      M          N
2016  2016.01.24.a      M          N
2016  2016.01.24.b      M          N
2016    2016.01.25      F          N
2016    2016.01.28      M          N
2016    2016.01.29      M          N
2016    2016.02.04      M          N
2016    2016.02.10      M          N
2016    2016.03.26      M          N
2016  2016.02.10.R      M          N
2016    2016.02.12      F          N
2016    2016.02.19      M          N
2016    2016.02.22      M          N
2016    2016.03.02      M          N
2016  2016.03.03.R      M          N
2016    2016.03.04      M          N
2016    2016.03.10      M          Y
2016    2016.03.11      M          N
2016    2016.06.04      M          N
2016  2016.09.18.b      M          N
2016  2016.06.05.b      M          N
2016  2016.08.29.b      M          N
2016    2016.07.27      M          N
2016    2016.07.28      M          N
2016  2016.07.28.R      M          N
2016    2016.07.29      M          N
2016    2016.08.04      M          N
2016    2016.08.06      M          N
2016    2016.08.07      M          N
2016    2016.08.25      M          N
2016    2016.08.27      M          N
2016  2016.08.29.a      M          N
2016    2016.09.01      M          N
2016    2016.07.24      M          N
2016    2016.09.04      M          N
2016  2016.09.05.a      M          N
2016    2016.09.06      M          Y
2016    2016.09.07      F          N
2016    2016.09.11      M          N
2016    2016.09.15      M          N
2016    2016.09.17      M          N
2016  2016.09.18.a      M          N
2016    2016.06.07      M          N
2016    2016.07.26      M          N
...            ...    ...        ...
0          ND.0010      F          N
0          ND.0011      M          N
0          ND.0012      M          Y
0          ND.0013      M          Y
0          ND.0014      M          N
0          ND.0016      M          Y
0          ND.0017      M          Y
0          ND.0018      M          N
0          ND.0019      M          N
0          ND.0020      M          Y
0          ND.0021      M          Y
0          ND.0022      M          N
0          ND.0023      F          N
0          ND.0025      M    UNKNOWN
0          ND.0026      M          Y
0          ND.0027      M          N
0          ND.0028      M          N
0          ND.0030      M          Y
0          ND.0065      M          N
0          ND-0111      M          N
0          ND.0068      M          N
0          ND-0135      M          Y
0          ND-0115      M          Y
0          ND-0116      M          N
0          ND-0118      M          Y
0          ND-0122      M          N
0          ND-0123      F          N
0          ND-0124      M          N
0          ND-0127      F          N
0          ND-0130      M          N
0          ND-0132      M          N
0          ND-0133      M          Y
0          ND-0134      F          Y
0          ND-0136      M          N
0          ND.0069      M          N
0          ND-0138      M          Y
0          ND-0139      F          N
0          ND-1940      M          Y
0          ND-0148      M          N
0          ND-0149      M          Y
0          ND-0151      M          Y
0          ND-0152      M          Y
0          ND-0153      M          N
0           0.0493      M          N
0           0.0336      M          Y
0           0.0214      M          Y
0          nd-0114      F          N
0          ND-0113      M          N
0          ND.0110      M          Y
0          ND-0109      M          N
0          ND.0074      M          N
0          ND.0075      M          N
0          ND.0076      M          Y
0          ND.0078      M          Y
0          ND.0081      M          N
0          ND.0082      F          Y
0          ND.0083      M          N
0          ND.0084      M          Y
0          ND.0085      F          N
0          ND.0086      M          Y
0          ND.0087      M          N
0          ND.0088      M          N
0          ND.0089      M          N
0          ND.0090      F          Y
0          ND.0091      M          N
0          ND.0093      M          N
0          ND.0094      F          Y
0          ND.0096      M          N
0          ND.0097      M          N
0          ND.0100      M          N
0          ND.0102      M          Y
0          ND.0104      M          N
0          ND-0106      M          Y
0          ND-0108      M          Y
0          ND.0001      M          Y

[5412 rows x 3 columns]

In [203]:
df4.Supervivencia = df4["Mortalidad"].astype(str)

df4.Supervivencia.dtypes

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

dtype('O')

In [204]:


df4.Mortalidad = df4["Mortalidad"].astype(str).apply(m_correction)

df4.loc[df4['Mortalidad'] == "0"]

      Años         Casos Género Mortalidad
0     2016  2016.09.18.c      M          0
1     2016  2016.09.18.b      M          0
2     2016  2016.09.18.a      M          0
3     2016    2016.09.17      M          0
4     2016    2016.09.15      M          0
5     2016  2016.09.15.R    NaN          0
6     2016    2016.09.11      M          0
7     2016    2016.09.07      F          0
9     2016  2016.09.05.b      F          0
10    2016  2016.09.05.a      M          0
11    2016    2016.09.04      M          0
12    2016    2016.09.01      M          0
13    2016  2016.08.29.b      M          0
14    2016  2016.08.29.a      M          0
15    2016    2016.08.27      M          0
16    2016    2016.08.25      M          0
17    2016    2016.08.07      M          0
18    2016    2016.08.06      M          0
19    2016    2016.08.04      M          0
20    2016    2016.07.29      M          0
21    2016  2016.07.28.R      M          0
22    2016    2016.07.28      M          0
23    2016    2016.07.27      M          0
24    2016    2016.07.26      M          0
25    2016    2016.07.24      M          0
26    2016  2016.07.23.b      M          0
27    2016  2016.07.23.a      M          0
28    2016    2016.07.20      M          0
29    2016    2016.07.17    NaN          0
30    2016  2016.07.16.b      F          0
31    2016  2016.07.16.a      F          0
32    2016    2016.07.15      M          0
33    2016  2016.07.14.4      M          0
34    2016  2016.07.08.R      F          0
35    2016    2016.07.08      M          0
36    2016  2016.07.07.b      M          0
37    2016  2016.07.07.a      M          0
38    2016    2016.07.06      F          0
39    2016    2016.07.04      M          0
40    2016    2016.06.27      M          0
41    2016    2016.06.25      M          0
42    2016    2016.06.24      M          0
43    2016    2016.06.23      M          0
44    2016  2016.06.21.b      M          0
45    2016  2016.06.21.a      M          0
46    2016  2016.06.15.b      M          0
47    2016  2016.06.15.a      M          0
48    2016    2016.06.14      F          0
49    2016    2016.06.11      M          0
50    2016    2016.06.07      M          0
51    2016  2016.06.05.b      M          0
53    2016    2016.06.04      M          0
55    2016  2016.06.02.a      M          0
57    2016  2016.05.29.b      F          0
58    2016  2016.05.29.a      M          0
59    2016    2016.05.22      F          0
60    2016  2016.05.21.b      F          0
61    2016  2016.05.21.a      F          0
62    2016    2016.05.18      M          0
63    2016    2016.05.15      F          0
64    2016    2016.05.03      M          0
65    2016    2016.05.02      M          0
66    2016    2016.04.25      M          0
67    2016    2016.04.23      M          0
68    2016    2016.04.22      M          0
69    2016    2016.04.19      M          0
70    2016    2016.04.18      M          0
71    2016    2016.04.13      M          0
73    2016    2016.04.08      M          0
74    2016  2016.04.07.b      M          0
75    2016  2016.04.07.a      M          0
76    2016    2016.03.31      F          0
77    2016    2016.03.30      M          0
78    2016  2016.03.28.b      M          0
79    2016  2016.03.28.a      M          0
...    ...           ...    ...        ...
5831  1803    1803.03.00      M          0
5834  1788    1788.05.10    NaN          0
5841  1767    1767.00.00      M          0
5843  1758    1758.00.00      M          0
5844  1749    1749.00.00      M          0
5851  1703    1703.03.26      M          0
5853  1700  1700.00.00.b      M          0
5865   500    0500.00.00    NaN          0
5867     5    0005.00.00      M          0
5870     0        0.0493      M          0
5871     0        0.0725    NaN          0
5872     0       ND-0153      M          0
5875     0       ND-0150    NaN          0
5877     0       ND-0148      M          0
5879     0       ND-0139      F          0
5881     0       ND-0136      M          0
5885     0       ND-0132      M          0
5886     0       ND-0130      M          0
5887     0       ND-0129    NaN          0
5888     0       ND-0127      F          0
5889     0       ND-0124      M          0
5890     0       ND-0123      F          0
5891     0       ND-0122      M          0
5894     0       ND-0116      M          0
5896     0       nd-0114      F          0
5897     0       ND-0113      M          0
5898     0       ND-0111      M          0
5900     0       ND-0109      M          0
5902     0       ND-0107    NaN          0
5904     0       ND.0104      M          0
5906     0       ND.0100      M          0
5907     0       ND.0097      M          0
5908     0       ND.0096      M          0
5909     0       ND.0095    NaN          0
5911     0       ND.0093      M          0
5912     0       ND.0091      M          0
5914     0       ND.0089      M          0
5915     0       ND.0088      M          0
5916     0       ND.0087      M          0
5918     0       ND.0085      F          0
5920     0       ND.0083      M          0
5922     0       ND.0081      M          0
5925     0       ND.0075      M          0
5926     0       ND.0074      M          0
5927     0       ND.0073    NaN          0
5928     0       ND.0069      M          0
5929     0       ND.0068      M          0
5931     0       ND.0065      M          0
5932     0       ND.0064      M          0
5933     0       ND.0063      M          0
5934     0       ND.0062      M          0
5935     0       ND.0060      F          0
5936     0       ND.0059      M          0
5937     0       ND.0058      F          0
5939     0       ND.0056      M          0
5940     0       ND.0055      M          0
5945     0       ND.0049      M          0
5946     0       ND.0048      M          0
5947     0       ND.0047      M          0
5950     0       ND.0043      M          0
5951     0       ND.0042      M          0
5957     0       ND.0036      M          0
5958     0       ND.0035      M          0
5960     0       ND.0033      M          0
5961     0       ND.0032      M          0
5962     0       ND.0031      M          0
5964     0       ND.0028      M          0
5965     0       ND.0027      M          0
5969     0       ND.0023      F          0
5970     0       ND.0022      M          0
5973     0       ND.0019      M          0
5974     0       ND.0018      M          0
5978     0       ND.0014      M          0
5981     0       ND.0011      M          0
5982     0       ND.0010      F          0

[4315 rows x 4 columns]

In [205]:
df4 = df4.iloc[0:5325].dropna()

df4

      Años               Casos Género Mortalidad
0     2016        2016.09.18.c      M          0
1     2016        2016.09.18.b      M          0
2     2016        2016.09.18.a      M          0
3     2016          2016.09.17      M          0
4     2016          2016.09.15      M          0
6     2016          2016.09.11      M          0
7     2016          2016.09.07      F          0
8     2016          2016.09.06      M          1
9     2016        2016.09.05.b      F          0
10    2016        2016.09.05.a      M          0
11    2016          2016.09.04      M          0
12    2016          2016.09.01      M          0
13    2016        2016.08.29.b      M          0
14    2016        2016.08.29.a      M          0
15    2016          2016.08.27      M          0
16    2016          2016.08.25      M          0
17    2016          2016.08.07      M          0
18    2016          2016.08.06      M          0
19    2016          2016.08.04      M          0
20    2016          2016.07.29      M          0
21    2016        2016.07.28.R      M          0
22    2016          2016.07.28      M          0
23    2016          2016.07.27      M          0
24    2016          2016.07.26      M          0
25    2016          2016.07.24      M          0
26    2016        2016.07.23.b      M          0
27    2016        2016.07.23.a      M          0
28    2016          2016.07.20      M          0
30    2016        2016.07.16.b      F          0
31    2016        2016.07.16.a      F          0
32    2016          2016.07.15      M          0
33    2016        2016.07.14.4      M          0
34    2016        2016.07.08.R      F          0
35    2016          2016.07.08      M          0
36    2016        2016.07.07.b      M          0
37    2016        2016.07.07.a      M          0
38    2016          2016.07.06      F          0
39    2016          2016.07.04      M          0
40    2016          2016.06.27      M          0
41    2016          2016.06.25      M          0
42    2016          2016.06.24      M          0
43    2016          2016.06.23      M          0
44    2016        2016.06.21.b      M          0
45    2016        2016.06.21.a      M          0
46    2016        2016.06.15.b      M          0
47    2016        2016.06.15.a      M          0
48    2016          2016.06.14      F          0
49    2016          2016.06.11      M          0
50    2016          2016.06.07      M          0
51    2016        2016.06.05.b      M          0
52    2016        2016.06.05.a      F          1
53    2016          2016.06.04      M          0
55    2016        2016.06.02.a      M          0
56    2016          2016.05.31      M          1
57    2016        2016.05.29.b      F          0
58    2016        2016.05.29.a      M          0
59    2016          2016.05.22      F          0
60    2016        2016.05.21.b      F          0
61    2016        2016.05.21.a      F          0
62    2016          2016.05.18      M          0
63    2016          2016.05.15      F          0
64    2016          2016.05.03      M          0
65    2016          2016.05.02      M          0
66    2016          2016.04.25      M          0
67    2016          2016.04.23      M          0
68    2016          2016.04.22      M          0
69    2016          2016.04.19      M          0
70    2016          2016.04.18      M          0
71    2016          2016.04.13      M          0
72    2016          2016.04.09      F          1
73    2016          2016.04.08      M          0
74    2016        2016.04.07.b      M          0
75    2016        2016.04.07.a      M          0
76    2016          2016.03.31      F          0
77    2016          2016.03.30      M          0
...    ...                 ...    ...        ...
5244  1906  1906.04.10.R.a & b      M          1
5245  1906        1906.04.02.R      M          1
5246  1906        1906.02.14.R      M          1
5247  1906          1906.01.28      M          1
5248  1906          1906.01.20      M          1
5249  1905          1905.12.31      M          1
5250  1905          1905.12.29      M          0
5251  1905        1905.11.17.R      M          1
5252  1905          1905.09.29      M          1
5253  1905        1905.08.00.b      M          0
5254  1905        1905.08.00.a      M          0
5255  1905          1905.07.29      M          1
5256  1905        1905.07.25.R      M          1
5257  1905          1905.07.00      M          1
5258  1905          1905.05.22      M          0
5259  1905          1905.04.06      M          1
5260  1905          1905.03.26      M          0
5262  1905          1905.02.10      M          1
5263  1905          1905.01.01      M          1
5265  1904          1904.11.02      M          0
5266  1904        1904.10.11.R      M          1
5267  1904          1904.09.00      M          1
5268  1904          1904.08.00      M          1
5269  1904          1904.07.28      M          0
5270  1904          1904.07.27      M          1
5271  1904        1904.07.01.R      M          1
5272  1904          1904.02.07      M          1
5273  1904          1904.02.04      M          1
5274  1904          1904.01.23      M          1
5275  1904        1904.00.00.c      M          0
5276  1904        1904.00.00.b      M          0
5277  1904        1904.00.00.a      M          1
5278  1903          1903.10.04      M          1
5279  1903        1903.09.16.R      M          0
5280  1903          1903.07.00      M          0
5281  1903          1903.06.21      M          1
5282  1903          1903.05.04      M          1
5283  1903        1903.03.20.R      M          1
5284  1903          1903.03.12      M          1
5285  1903          1903.01.10      M          1
5286  1903        1903.00.00.b      M          1
5287  1903        1903.00.00.a      M          1
5288  1902        1902.12.22.R      M          1
5289  1902          1902.11.10      M          1
5290  1902        1902.11.01.R      M          0
5291  1902        1902.08.28.R      M          1
5292  1902        1902.08.24.R      M          0
5293  1902          1902.08.08      M          1
5294  1902          1902.07.15      M          0
5295  1902          1902.07.06      M          0
5296  1902          1902.06.02      M          0
5297  1902          1902.06.00      M          0
5298  1902          1902.04.00      M          1
5299  1902        1902.02.22.R      M          0
5300  1902        1902.01.25.R      M          1
5301  1902        1902.01.19.R      M          1
5302  1902          1902.01.19      M          0
5303  1901          1901.12.01      M          0
5304  1901          1901.10.00      M          0
5305  1901        1901.09.23.R      M          1
5306  1901          1901.07.30      M          1
5309  1901          1901.06.24      M          0
5310  1901          1901.01.30      M          1
5311  1901          1901.00.00      M          0
5312  1900          1900.12.27      M          1
5313  1900          1900.11.14      M          1
5314  1900          1900.10.27      M          1
5315  1900          1900.09.15      M          0
5317  1900          1900.09.05      M          0
5318  1900          1900.08.21      M          0
5319  1900          1900.07.31      M          1
5320  1900          1900.07.14      M          1
5322  1900          1900.01.28      M          0
5323  1900        1900.00.00.b      M          0
5324  1900        1900.00.00.a      M          0

[4764 rows x 4 columns]

In [206]:
df4["Mortalidad"] = df4["Mortalidad"].astype("int64")

df4["Género"] = df4["Género"].astype(str)

In [207]:
df4['Hombres'] = df4.Género.apply(lambda x: x=="M")

df4['Mujeres'] = df4.Género.apply(lambda x: x=="F")

df4 = df4[["Años","Casos","Hombres","Mujeres","Mortalidad"]]

def genero_fixing(x):

    if x == True:
        return 1

    else:
        return 0


df4['Mujeres'] = df4.Mujeres.apply(genero_fixing)

df4['Hombres'] = df4.Hombres.apply(genero_fixing)

df4

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Años               Casos  Hombres  Mujeres  Mortalidad
0     2016        2016.09.18.c        1        0           0
1     2016        2016.09.18.b        1        0           0
2     2016        2016.09.18.a        1        0           0
3     2016          2016.09.17        1        0           0
4     2016          2016.09.15        1        0           0
6     2016          2016.09.11        1        0           0
7     2016          2016.09.07        0        1           0
8     2016          2016.09.06        1        0           1
9     2016        2016.09.05.b        0        1           0
10    2016        2016.09.05.a        1        0           0
11    2016          2016.09.04        1        0           0
12    2016          2016.09.01        1        0           0
13    2016        2016.08.29.b        1        0           0
14    2016        2016.08.29.a        1        0           0
15    2016          2016.08.27        1        0           0
16    2016          2016.08.25        1        0           0
17    2016          2016.08.07        1        0           0
18    2016          2016.08.06        1        0           0
19    2016          2016.08.04        1        0           0
20    2016          2016.07.29        1        0           0
21    2016        2016.07.28.R        1        0           0
22    2016          2016.07.28        1        0           0
23    2016          2016.07.27        1        0           0
24    2016          2016.07.26        1        0           0
25    2016          2016.07.24        1        0           0
26    2016        2016.07.23.b        1        0           0
27    2016        2016.07.23.a        1        0           0
28    2016          2016.07.20        1        0           0
30    2016        2016.07.16.b        0        1           0
31    2016        2016.07.16.a        0        1           0
32    2016          2016.07.15        1        0           0
33    2016        2016.07.14.4        1        0           0
34    2016        2016.07.08.R        0        1           0
35    2016          2016.07.08        1        0           0
36    2016        2016.07.07.b        1        0           0
37    2016        2016.07.07.a        1        0           0
38    2016          2016.07.06        0        1           0
39    2016          2016.07.04        1        0           0
40    2016          2016.06.27        1        0           0
41    2016          2016.06.25        1        0           0
42    2016          2016.06.24        1        0           0
43    2016          2016.06.23        1        0           0
44    2016        2016.06.21.b        1        0           0
45    2016        2016.06.21.a        1        0           0
46    2016        2016.06.15.b        1        0           0
47    2016        2016.06.15.a        1        0           0
48    2016          2016.06.14        0        1           0
49    2016          2016.06.11        1        0           0
50    2016          2016.06.07        1        0           0
51    2016        2016.06.05.b        1        0           0
52    2016        2016.06.05.a        0        1           1
53    2016          2016.06.04        1        0           0
55    2016        2016.06.02.a        1        0           0
56    2016          2016.05.31        1        0           1
57    2016        2016.05.29.b        0        1           0
58    2016        2016.05.29.a        1        0           0
59    2016          2016.05.22        0        1           0
60    2016        2016.05.21.b        0        1           0
61    2016        2016.05.21.a        0        1           0
62    2016          2016.05.18        1        0           0
63    2016          2016.05.15        0        1           0
64    2016          2016.05.03        1        0           0
65    2016          2016.05.02        1        0           0
66    2016          2016.04.25        1        0           0
67    2016          2016.04.23        1        0           0
68    2016          2016.04.22        1        0           0
69    2016          2016.04.19        1        0           0
70    2016          2016.04.18        1        0           0
71    2016          2016.04.13        1        0           0
72    2016          2016.04.09        0        1           1
73    2016          2016.04.08        1        0           0
74    2016        2016.04.07.b        1        0           0
75    2016        2016.04.07.a        1        0           0
76    2016          2016.03.31        0        1           0
77    2016          2016.03.30        1        0           0
...    ...                 ...      ...      ...         ...
5244  1906  1906.04.10.R.a & b        1        0           1
5245  1906        1906.04.02.R        1        0           1
5246  1906        1906.02.14.R        1        0           1
5247  1906          1906.01.28        1        0           1
5248  1906          1906.01.20        1        0           1
5249  1905          1905.12.31        1        0           1
5250  1905          1905.12.29        1        0           0
5251  1905        1905.11.17.R        1        0           1
5252  1905          1905.09.29        1        0           1
5253  1905        1905.08.00.b        1        0           0
5254  1905        1905.08.00.a        1        0           0
5255  1905          1905.07.29        1        0           1
5256  1905        1905.07.25.R        1        0           1
5257  1905          1905.07.00        1        0           1
5258  1905          1905.05.22        1        0           0
5259  1905          1905.04.06        1        0           1
5260  1905          1905.03.26        1        0           0
5262  1905          1905.02.10        1        0           1
5263  1905          1905.01.01        1        0           1
5265  1904          1904.11.02        1        0           0
5266  1904        1904.10.11.R        1        0           1
5267  1904          1904.09.00        1        0           1
5268  1904          1904.08.00        1        0           1
5269  1904          1904.07.28        1        0           0
5270  1904          1904.07.27        1        0           1
5271  1904        1904.07.01.R        1        0           1
5272  1904          1904.02.07        1        0           1
5273  1904          1904.02.04        1        0           1
5274  1904          1904.01.23        1        0           1
5275  1904        1904.00.00.c        1        0           0
5276  1904        1904.00.00.b        1        0           0
5277  1904        1904.00.00.a        1        0           1
5278  1903          1903.10.04        1        0           1
5279  1903        1903.09.16.R        1        0           0
5280  1903          1903.07.00        1        0           0
5281  1903          1903.06.21        1        0           1
5282  1903          1903.05.04        1        0           1
5283  1903        1903.03.20.R        1        0           1
5284  1903          1903.03.12        1        0           1
5285  1903          1903.01.10        1        0           1
5286  1903        1903.00.00.b        1        0           1
5287  1903        1903.00.00.a        1        0           1
5288  1902        1902.12.22.R        1        0           1
5289  1902          1902.11.10        1        0           1
5290  1902        1902.11.01.R        1        0           0
5291  1902        1902.08.28.R        1        0           1
5292  1902        1902.08.24.R        1        0           0
5293  1902          1902.08.08        1        0           1
5294  1902          1902.07.15        1        0           0
5295  1902          1902.07.06        1        0           0
5296  1902          1902.06.02        1        0           0
5297  1902          1902.06.00        1        0           0
5298  1902          1902.04.00        1        0           1
5299  1902        1902.02.22.R        1        0           0
5300  1902        1902.01.25.R        1        0           1
5301  1902        1902.01.19.R        1        0           1
5302  1902          1902.01.19        1        0           0
5303  1901          1901.12.01        1        0           0
5304  1901          1901.10.00        1        0           0
5305  1901        1901.09.23.R        1        0           1
5306  1901          1901.07.30        1        0           1
5309  1901          1901.06.24        1        0           0
5310  1901          1901.01.30        1        0           1
5311  1901          1901.00.00        1        0           0
5312  1900          1900.12.27        1        0           1
5313  1900          1900.11.14        1        0           1
5314  1900          1900.10.27        1        0           1
5315  1900          1900.09.15        1        0           0
5317  1900          1900.09.05        1        0           0
5318  1900          1900.08.21        1        0           0
5319  1900          1900.07.31        1        0           1
5320  1900          1900.07.14        1        0           1
5322  1900          1900.01.28        1        0           0
5323  1900        1900.00.00.b        1        0           0
5324  1900        1900.00.00.a        1        0           0

[4764 rows x 5 columns]

In [208]:
df4 = df4.groupby(["Años"]).agg({'Casos':'count', 'Hombres': 'sum', 'Mujeres': 'sum', 'Mortalidad':'sum'}).dropna().reset_index()

df4

     Años  Casos  Hombres  Mujeres  Mortalidad
0    1848      1        1        0           1
1    1900     11       11        0           5
2    1901      7        7        0           3
3    1902     15       15        0           7
4    1903     10       10        0           8
5    1904     13       13        0           9
6    1905     14       14        0           9
7    1906     21       21        0          14
8    1907     23       20        3          13
9    1908     11        9        1          10
10   1909     15       12        3           9
11   1910     12       12        0           5
12   1911     15       15        0           9
13   1912     12       12        0           6
14   1913     12       12        0           4
15   1914     16       12        4           6
16   1915     11       11        0           5
17   1916     25       23        2          12
18   1917     11       11        0           5
19   1918      5        5        0           3
20   1919     13       11        2           5
21   1920     13       11        2           4
22   1921      9        9        0           4
23   1922     20       17        3          14
24   1923     18       18        0           9
25   1924     17       15        2           5
26   1925     12       11        1           3
27   1926     19       16        3           9
28   1927     15       15        0           4
29   1928     23       21        2           7
30   1929     35       32        3          13
31   1930     22       22        0           8
32   1931     25       24        1          11
33   1932     25       23        2           8
34   1933     20       18        2           4
35   1934     26       21        4          11
36   1935     27       25        2          11
37   1936     23       22        1           8
38   1937     24       24        0          12
39   1938     22       22        0           5
40   1939     18       17        1           7
41   1940     20       17        3          10
42   1941     23       23        0           8
43   1942     36       34        2          18
44   1943     22       22        0          10
45   1944     27       26        1          17
46   1945     13       12        1           5
47   1946     21       19        2           4
48   1947     23       23        0           4
49   1948     27       26        1          11
50   1949     28       27        1           9
51   1950     39       39        0          12
52   1951     27       25        2          10
53   1952     26       25        1          10
54   1953     32       27        5           5
55   1954     37       36        1          17
56   1955     37       35        2          12
57   1956     44       42        2          20
58   1957     34       32        2          11
59   1958     47       43        4          19
60   1959     74       69        5          22
61   1960     69       63        6          15
62   1961     66       63        3          11
63   1962     62       59        3          18
64   1963     53       47        6          15
65   1964     53       51        2          17
66   1965     47       46        1          12
67   1966     52       43        9          13
68   1967     41       39        2          11
69   1968     36       34        2           4
70   1969     24       24        0           0
71   1970     38       35        3           8
72   1971     24       23        1           7
73   1972     30       27        3           7
74   1973     22       22        0           7
75   1974     33       30        3           8
76   1975     44       39        5           7
77   1976     27       25        2           6
78   1977     24       24        0           5
79   1978     22       20        2           4
80   1979     22       22        0           9
81   1980     33       28        5           6
82   1981     42       39        3           8
83   1982     36       29        7           8
84   1983     46       41        5           7
85   1984     37       30        7           9
86   1985     33       30        3           6
87   1986     31       29        2           3
88   1987     30       26        4           6
89   1988     51       44        7           9
90   1989     49       44        5          11
91   1990     36       32        4           4
92   1991     36       31        5           7
93   1992     50       45        5          12
94   1993     45       36        9          14
95   1994     48       40        8           9
96   1995     70       60       10          12
97   1996     51       42        9           9
98   1997     51       44        7          10
99   1998     61       56        5           9
100  1999     61       51       10           5
101  2000     85       73       12          16
102  2001     84       71       13           8
103  2002     82       73        9          10
104  2003     87       75       12           9
105  2004     84       69       14          13
106  2005     93       78       14           9
107  2006     98       81       17          14
108  2007    107       78       29           8
109  2008    114      101       13          13
110  2009    115       98       17          16
111  2010    101       79       22          11
112  2011    123      109       14          16
113  2012    110       91       19          11
114  2013    120      102       18          16
115  2014    116       92       23          10
116  2015    137      110       27          10
117  2016     99       81       18           5

In [209]:
df5 = df4

df5.reset_index()

df5

     Años  Casos  Hombres  Mujeres  Mortalidad
0    1848      1        1        0           1
1    1900     11       11        0           5
2    1901      7        7        0           3
3    1902     15       15        0           7
4    1903     10       10        0           8
5    1904     13       13        0           9
6    1905     14       14        0           9
7    1906     21       21        0          14
8    1907     23       20        3          13
9    1908     11        9        1          10
10   1909     15       12        3           9
11   1910     12       12        0           5
12   1911     15       15        0           9
13   1912     12       12        0           6
14   1913     12       12        0           4
15   1914     16       12        4           6
16   1915     11       11        0           5
17   1916     25       23        2          12
18   1917     11       11        0           5
19   1918      5        5        0           3
20   1919     13       11        2           5
21   1920     13       11        2           4
22   1921      9        9        0           4
23   1922     20       17        3          14
24   1923     18       18        0           9
25   1924     17       15        2           5
26   1925     12       11        1           3
27   1926     19       16        3           9
28   1927     15       15        0           4
29   1928     23       21        2           7
30   1929     35       32        3          13
31   1930     22       22        0           8
32   1931     25       24        1          11
33   1932     25       23        2           8
34   1933     20       18        2           4
35   1934     26       21        4          11
36   1935     27       25        2          11
37   1936     23       22        1           8
38   1937     24       24        0          12
39   1938     22       22        0           5
40   1939     18       17        1           7
41   1940     20       17        3          10
42   1941     23       23        0           8
43   1942     36       34        2          18
44   1943     22       22        0          10
45   1944     27       26        1          17
46   1945     13       12        1           5
47   1946     21       19        2           4
48   1947     23       23        0           4
49   1948     27       26        1          11
50   1949     28       27        1           9
51   1950     39       39        0          12
52   1951     27       25        2          10
53   1952     26       25        1          10
54   1953     32       27        5           5
55   1954     37       36        1          17
56   1955     37       35        2          12
57   1956     44       42        2          20
58   1957     34       32        2          11
59   1958     47       43        4          19
60   1959     74       69        5          22
61   1960     69       63        6          15
62   1961     66       63        3          11
63   1962     62       59        3          18
64   1963     53       47        6          15
65   1964     53       51        2          17
66   1965     47       46        1          12
67   1966     52       43        9          13
68   1967     41       39        2          11
69   1968     36       34        2           4
70   1969     24       24        0           0
71   1970     38       35        3           8
72   1971     24       23        1           7
73   1972     30       27        3           7
74   1973     22       22        0           7
75   1974     33       30        3           8
76   1975     44       39        5           7
77   1976     27       25        2           6
78   1977     24       24        0           5
79   1978     22       20        2           4
80   1979     22       22        0           9
81   1980     33       28        5           6
82   1981     42       39        3           8
83   1982     36       29        7           8
84   1983     46       41        5           7
85   1984     37       30        7           9
86   1985     33       30        3           6
87   1986     31       29        2           3
88   1987     30       26        4           6
89   1988     51       44        7           9
90   1989     49       44        5          11
91   1990     36       32        4           4
92   1991     36       31        5           7
93   1992     50       45        5          12
94   1993     45       36        9          14
95   1994     48       40        8           9
96   1995     70       60       10          12
97   1996     51       42        9           9
98   1997     51       44        7          10
99   1998     61       56        5           9
100  1999     61       51       10           5
101  2000     85       73       12          16
102  2001     84       71       13           8
103  2002     82       73        9          10
104  2003     87       75       12           9
105  2004     84       69       14          13
106  2005     93       78       14           9
107  2006     98       81       17          14
108  2007    107       78       29           8
109  2008    114      101       13          13
110  2009    115       98       17          16
111  2010    101       79       22          11
112  2011    123      109       14          16
113  2012    110       91       19          11
114  2013    120      102       18          16
115  2014    116       92       23          10
116  2015    137      110       27          10
117  2016     99       81       18           5

In [210]:
fd = pd.read_csv("Inputs/Dataset_Movies.csv", encoding = "ISO-8859-1")

/home/alex/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [211]:
fd.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [212]:
fd2 = fd.rename(columns = {"release_date":"Lanzamiento","original_title":"Título"})

fd3 = fd2[["Lanzamiento","Título"]]

In [213]:
fd3.Lanzamiento = fd3["Lanzamiento"].astype(str).apply(case_filtering)

/usr/lib/python3/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [214]:
# fd4[fd4['Título'].astype(str).str.contains("shark")]

fd3.Título = fd3["Título"].astype(str).apply(find_word)

fd4 = fd3.dropna(axis=0, subset=['Lanzamiento', 'Título'])

fd4["Años"] =  fd4["Lanzamiento"].astype(str).apply(extract_year)

fd4["Años"] = fd4["Años"].astype(int)

fd4

/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/alex/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

      Lanzamiento                                   Título  Años
318    10-09-1994                     swimming with sharks  1994
1338   18-06-1975                                     jaws  1975
1339   16-06-1978                                   jaws 2  1978
1340   16-03-1983                                 jaws 3-d  1983
3998   17-07-1987                        jaws: the revenge  1987
5716   18-12-1981                         sharky's machine  1981
8180   20-09-2004                               shark tale  2004
10105  10-06-2005  the adventures of sharkboy and lavagirl  2005
11787  11-09-2006                               sharkwater  2006
11839  15-07-2007                           eagle vs shark  2007
12387  28-02-1936             the prisoner of shark island  1936
14718  19-05-2009              mega shark vs giant octopus  2009
15369  06-10-2008                          shark in venice  2008
17748  02-09-2011                              shark night  2011
18241  25-09-2010                               sharktopus  2010
18526  25-06-2011                              swamp shark  2011
18528  01-08-1958                   she gods of shark reef  1958
18641  21-12-2010               mega shark vs. crocosaurus  2010
19490  17-01-2012                    2-headed shark attack  2012
20068  20-03-2005                spring break shark attack  2005
21238  11-07-2013                                sharknado  2013
22470  20-12-2011                              sand sharks  2011
23206  01-01-2010                                dinoshark  2010
23838  02-08-2014                  sharktopus vs pteracuda  2014
23852  08-10-1969                                   shark!  1969
24138  30-07-2014              sharknado 2: the second one  2014
26002  26-11-2002                shark attack 3: megalodon  2002
26121  09-11-1999                             shark attack  1999
26281  13-02-2001                           shark attack 2  2001
28806  20-05-1976                               shark kill  1976
28841  01-07-1976                  mako: the jaws of death  1976
29456  09-06-2012                jersey shore shark attack  2012
30837  22-07-2015                 sharknado 3: oh hell no!  2015
31623  04-08-2012                               shark week  2012
31992  19-07-2015                 sharktopus vs. whalewolf  2015
33909  19-03-1950                             killer shark  1950
33988  22-08-2013                              ghost shark  2013
34189  05-05-1995                               cruel jaws  1995
35056  28-01-2014               mega shark vs. mecha shark  2014
35515  20-07-2015                    3-headed shark attack  2015
35605  08-12-2011                              super shark  2011
35704  02-10-2015                               shark lake  2015
36354  01-01-2008                              shark swarm  2008
36355  06-08-2015                           piranha sharks  2015
36412  24-07-1981                            jaws of satan  1981
37053  23-07-2015                                roboshark  2015
37928  12-10-2011           snow shark: ancient snow beast  2011
38010  01-01-2001                                 sharkman  2001
38988  04-11-2015       sharkansas women's prison massacre  2015
39607  01-01-1989                      night of the sharks  1989
39771  31-07-2016             sharknado 4: the 4th awakens  2016
42678  25-07-2009                      malibu shark attack  2009
43722  23-03-2015                             shark killer  2015
44261  07-09-1984                 shark: rosso nell'oceano  1984
44467  14-10-2003                               shark zone  2003
44569  24-09-1932                              tiger shark  1932

In [215]:
fd4 = fd4[["Años", "Lanzamiento", "Título"]]

fd4.sort_values("Años", ascending=False).dropna().reset_index()

# .set_index("Años")

    index  Años Lanzamiento                                   Título
0   39771  2016  31-07-2016             sharknado 4: the 4th awakens
1   35515  2015  20-07-2015                    3-headed shark attack
2   43722  2015  23-03-2015                             shark killer
3   35704  2015  02-10-2015                               shark lake
4   31992  2015  19-07-2015                 sharktopus vs. whalewolf
5   30837  2015  22-07-2015                 sharknado 3: oh hell no!
6   36355  2015  06-08-2015                           piranha sharks
7   38988  2015  04-11-2015       sharkansas women's prison massacre
8   37053  2015  23-07-2015                                roboshark
9   23838  2014  02-08-2014                  sharktopus vs pteracuda
10  35056  2014  28-01-2014               mega shark vs. mecha shark
11  24138  2014  30-07-2014              sharknado 2: the second one
12  33988  2013  22-08-2013                              ghost shark
13  21238  2013  11-07-2013                                sharknado
14  31623  2012  04-08-2012                               shark week
15  19490  2012  17-01-2012                    2-headed shark attack
16  29456  2012  09-06-2012                jersey shore shark attack
17  35605  2011  08-12-2011                              super shark
18  22470  2011  20-12-2011                              sand sharks
19  17748  2011  02-09-2011                              shark night
20  37928  2011  12-10-2011           snow shark: ancient snow beast
21  18526  2011  25-06-2011                              swamp shark
22  18241  2010  25-09-2010                               sharktopus
23  18641  2010  21-12-2010               mega shark vs. crocosaurus
24  23206  2010  01-01-2010                                dinoshark
25  14718  2009  19-05-2009              mega shark vs giant octopus
26  42678  2009  25-07-2009                      malibu shark attack
27  36354  2008  01-01-2008                              shark swarm
28  15369  2008  06-10-2008                          shark in venice
29  11839  2007  15-07-2007                           eagle vs shark
30  11787  2006  11-09-2006                               sharkwater
31  20068  2005  20-03-2005                spring break shark attack
32  10105  2005  10-06-2005  the adventures of sharkboy and lavagirl
33   8180  2004  20-09-2004                               shark tale
34  44467  2003  14-10-2003                               shark zone
35  26002  2002  26-11-2002                shark attack 3: megalodon
36  26281  2001  13-02-2001                           shark attack 2
37  38010  2001  01-01-2001                                 sharkman
38  26121  1999  09-11-1999                             shark attack
39  34189  1995  05-05-1995                               cruel jaws
40    318  1994  10-09-1994                     swimming with sharks
41  39607  1989  01-01-1989                      night of the sharks
42   3998  1987  17-07-1987                        jaws: the revenge
43  44261  1984  07-09-1984                 shark: rosso nell'oceano
44   1340  1983  16-03-1983                                 jaws 3-d
45  36412  1981  24-07-1981                            jaws of satan
46   5716  1981  18-12-1981                         sharky's machine
47   1339  1978  16-06-1978                                   jaws 2
48  28841  1976  01-07-1976                  mako: the jaws of death
49  28806  1976  20-05-1976                               shark kill
50   1338  1975  18-06-1975                                     jaws
51  23852  1969  08-10-1969                                   shark!
52  18528  1958  01-08-1958                   she gods of shark reef
53  33909  1950  19-03-1950                             killer shark
54  12387  1936  28-02-1936             the prisoner of shark island
55  44569  1932  24-09-1932                              tiger shark

In [216]:
fd6 = fd4.groupby(["Años"]).count().dropna().reset_index()

fd6

    Años  Lanzamiento  Título
0   1932            1       1
1   1936            1       1
2   1950            1       1
3   1958            1       1
4   1969            1       1
5   1975            1       1
6   1976            2       2
7   1978            1       1
8   1981            2       2
9   1983            1       1
10  1984            1       1
11  1987            1       1
12  1989            1       1
13  1994            1       1
14  1995            1       1
15  1999            1       1
16  2001            2       2
17  2002            1       1
18  2003            1       1
19  2004            1       1
20  2005            2       2
21  2006            1       1
22  2007            1       1
23  2008            2       2
24  2009            2       2
25  2010            3       3
26  2011            5       5
27  2012            3       3
28  2013            2       2
29  2014            3       3
30  2015            8       8
31  2016            1       1

In [217]:
dfinal = pd.merge(df5, fd6, on="Años",how="outer")

pd.options.display.float_format = '{:,.0f}'.format
dfinal

dfinal2 = dfinal.fillna(0)

pd.set_option('display.max_rows', 150)

dfinal2.set_index("Años")

      Casos  Hombres  Mujeres  Mortalidad  Lanzamiento  Título
Años
1848      1        1        0           1            0       0
1900     11       11        0           5            0       0
1901      7        7        0           3            0       0
1902     15       15        0           7            0       0
1903     10       10        0           8            0       0
1904     13       13        0           9            0       0
1905     14       14        0           9            0       0
1906     21       21        0          14            0       0
1907     23       20        3          13            0       0
1908     11        9        1          10            0       0
1909     15       12        3           9            0       0
1910     12       12        0           5            0       0
1911     15       15        0           9            0       0
1912     12       12        0           6            0       0
1913     12       12        0           4            0       0
1914     16       12        4           6            0       0
1915     11       11        0           5            0       0
1916     25       23        2          12            0       0
1917     11       11        0           5            0       0
1918      5        5        0           3            0       0
1919     13       11        2           5            0       0
1920     13       11        2           4            0       0
1921      9        9        0           4            0       0
1922     20       17        3          14            0       0
1923     18       18        0           9            0       0
1924     17       15        2           5            0       0
1925     12       11        1           3            0       0
1926     19       16        3           9            0       0
1927     15       15        0           4            0       0
1928     23       21        2           7            0       0
1929     35       32        3          13            0       0
1930     22       22        0           8            0       0
1931     25       24        1          11            0       0
1932     25       23        2           8            1       1
1933     20       18        2           4            0       0
1934     26       21        4          11            0       0
1935     27       25        2          11            0       0
1936     23       22        1           8            1       1
1937     24       24        0          12            0       0
1938     22       22        0           5            0       0
1939     18       17        1           7            0       0
1940     20       17        3          10            0       0
1941     23       23        0           8            0       0
1942     36       34        2          18            0       0
1943     22       22        0          10            0       0
1944     27       26        1          17            0       0
1945     13       12        1           5            0       0
1946     21       19        2           4            0       0
1947     23       23        0           4            0       0
1948     27       26        1          11            0       0
1949     28       27        1           9            0       0
1950     39       39        0          12            1       1
1951     27       25        2          10            0       0
1952     26       25        1          10            0       0
1953     32       27        5           5            0       0
1954     37       36        1          17            0       0
1955     37       35        2          12            0       0
1956     44       42        2          20            0       0
1957     34       32        2          11            0       0
1958     47       43        4          19            1       1
1959     74       69        5          22            0       0
1960     69       63        6          15            0       0
1961     66       63        3          11            0       0
1962     62       59        3          18            0       0
1963     53       47        6          15            0       0
1964     53       51        2          17            0       0
1965     47       46        1          12            0       0
1966     52       43        9          13            0       0
1967     41       39        2          11            0       0
1968     36       34        2           4            0       0
1969     24       24        0           0            1       1
1970     38       35        3           8            0       0
1971     24       23        1           7            0       0
1972     30       27        3           7            0       0
1973     22       22        0           7            0       0
1974     33       30        3           8            0       0
1975     44       39        5           7            1       1
1976     27       25        2           6            2       2
1977     24       24        0           5            0       0
1978     22       20        2           4            1       1
1979     22       22        0           9            0       0
1980     33       28        5           6            0       0
1981     42       39        3           8            2       2
1982     36       29        7           8            0       0
1983     46       41        5           7            1       1
1984     37       30        7           9            1       1
1985     33       30        3           6            0       0
1986     31       29        2           3            0       0
1987     30       26        4           6            1       1
1988     51       44        7           9            0       0
1989     49       44        5          11            1       1
1990     36       32        4           4            0       0
1991     36       31        5           7            0       0
1992     50       45        5          12            0       0
1993     45       36        9          14            0       0
1994     48       40        8           9            1       1
1995     70       60       10          12            1       1
1996     51       42        9           9            0       0
1997     51       44        7          10            0       0
1998     61       56        5           9            0       0
1999     61       51       10           5            1       1
2000     85       73       12          16            0       0
2001     84       71       13           8            2       2
2002     82       73        9          10            1       1
2003     87       75       12           9            1       1
2004     84       69       14          13            1       1
2005     93       78       14           9            2       2
2006     98       81       17          14            1       1
2007    107       78       29           8            1       1
2008    114      101       13          13            2       2
2009    115       98       17          16            2       2
2010    101       79       22          11            3       3
2011    123      109       14          16            5       5
2012    110       91       19          11            3       3
2013    120      102       18          16            2       2
2014    116       92       23          10            3       3
2015    137      110       27          10            8       8
2016     99       81       18           5            1       1

In [218]:
# means = dfinal2.groupby('Mortalidad')["Título"].mean()

# means

In [219]:
dfinal2['Mortalidad'].corr(dfinal2['Título'])

0.13024309768634132

# Conclusión

### La relación entre la mortalidad humana debido a ataques de tiburones presenta una correlación neutra con la emisión de películas del mismo ámbito.